{% extends "base.html.twig" %}

{% block body %}



 <div class="container-fluid">

      <div class="py-5 text-center">


        <h2>Google Analytics Access Control</h2>
        <p class="lead">Accessing Kasatria/All Google Analytics profile and manage the user profile links</p>
      </div>

     <main role="main" class="col-md-12"> 	

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Accounts User has access</h1>
      </div>


      <div class="row">

        <div class="col-md-12">

            <table class="table table-hover" >
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Account ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Property ID</th>
                  <th scope="col">Profile ID</th>
                </tr>
              </thead>
              <tbody>
              	{% for account in accounts %}
	                <tr>
	                  <th scope="row">{{ loop.index }}</th>
	                  <td>
	                        {{account.id}}
	                  </td>
	                  <td>
	                        {{account.name}}
	                  </td>
	                  <td>
	                        {{account.propertyId}}
	                  </td>
	                  <td>
	                        {{account.profileId}}
	                  </td>
	                </tr>
              	{% endfor %}
              </tbody>
            </table>
        </div>
  
      </div> <!-- row -->

      	<hr/>

		<div class="alert alert-success alert-dismissible fade show" role="alert" id="ajax-alert">
		  <strong>Success!</strong> <span id="alert-text"> Your changes are now saved. </span>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profiles<small> (and their permissions) </small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" id="addNew">Add New</button>
          </div>
          <button class="btn btn-sm btn-success" id="saveChanges">
            Save Changes
          </button>
        </div>
      </div>


      <div class="row">

        <div class="col-md-12">

            <table class="table table-hover" id="dataTables">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Email</th>
                  <th scope="col">READ AND ANALYZES</th>
                  <th scope="col">COLLABORATE</th>
                  <th scope="col">EDIT</th>
                  <th scope="col">MANAGE USERS</th>
                  <th scope="col">Remove Access</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
        </div>
  
      </div> <!-- row -->


    <hr/>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Account User Links <small> webservice test </small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-info" id="listAccountUsers">List</button>
            <button class="btn btn-sm btn-success" id="insertAccountUsers">Insert</button>
            <button class="btn btn-sm btn-warning" id="updateAccountUsers">Update</button>
            <button class="btn btn-sm btn-danger" id="deleteAccountUsers">Delete</button>
          </div>
          <button class="btn btn-sm btn-dark" id="listAccounts">
            List All Accounts
          </button>
        
        </div>
      </div>

    <hr/>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Web Property User Links <small> webservice test </small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-info" id="listPropertyUsers">List</button>
            <button class="btn btn-sm btn-success" id="insertPropertyUsers">Insert</button>
            <button class="btn btn-sm btn-warning" id="updatePropertyUsers">Update</button>
            <button class="btn btn-sm btn-danger" id="deletePropertyUsers">Delete</button>
          </div>
          <button class="btn btn-sm btn-dark" id="listProperties">
            List All Properties
          </button>
        </div>
      </div>

    <hr/>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Profile User Links <small> webservice test </small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-info" id="listProfileUsers">List</button>
            <button class="btn btn-sm btn-success" id="insertProfileUsers">Insert</button>
            <button class="btn btn-sm btn-warning" id="updateProfileUsers">Update</button>
            <button class="btn btn-sm btn-danger" id="deleteProfileUsers">Delete</button>
          </div>
          <button class="btn btn-sm btn-dark" id="listProfiles">
            List All Views
          </button>
        </div>
      </div>

    <hr/>
      <button class="btn btn-sm btn-secondary" id="listAccountsSummaries">
        List Account Summaries
      </button>

      <button class="btn btn-sm btn-warning" id="listAccessLevelSummaries">
        List Access Level Summaries
      </button>

    <hr/>
       <div class="row text-center">
        <div class="col-md-6">
          <form class="form-signin"  action="{{ path('generatefile') }}" method="POST" >
            <div class="form-group">  
              <h1 class="h3 mb-3 font-weight-normal" >Generate Excel</h1>
               <button class="btn btn-lg btn-success btn-block" type="submit">Generate</button>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <form class="form-signin" enctype="multipart/form-data" action="{{ path('readfile') }}" target="_blank" method="POST" onsubmit="return(validate());">
            <h1 class="h3 mb-3 font-weight-normal" >Upload your File</h1>
              <hr/>
              <div class="form-group">   
                <input name="file" type="file" class="form-control-file" id="upload" >
              </div>
              <hr/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
        </div>
      </div>

    <hr/>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 Kasatria Technologies</p>
      </footer>
 </div>







{% endblock %}



{% block javascripts %}


{% endblock %}